
.main-nav {
    float: right;
    
}

.main-nav li {
    display: inline-block;
    margin-left: 3vw;
    line-height: 1em;
    
}

.link {
    text-decoration: none;
    color:#754b23;
    font-size: 2vh
}
.cart-widget > *{
    color: #754b23;
    text-decoration: none;
}