.order-details {
    .details-container {
        .details-header {
            margin-bottom: 3rem;

            h2 {
                margin-bottom: 0;
            }

            p {
                margin-top: 0;
            }
        }

        p {
            font-size: 1.25rem;
        }

        table {
            margin: 2rem auto;
            width: 80%;

            img {
                width: 75px;
            }

            thead {
                th {
                    text-align: right;

                    &.header-product-name {
                        text-align: center;
                    }
                }
            }

            tbody {
                td {
                    text-align: right;

                    &.product-name {
                        text-align: center;
                    }

                    &:last-child {
                        font-weight: bold;
                    }
                }

                .cart-totals {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }
        }
    }
}