p {
    color: #754b23;
}
td {
    text-align: center;
    color: #754b23;
    border: solid 2px white
}
.day {
    width: 152px;
    height: 35px;
    background-color: #f6ede6
}
.hours {
    width: 218px;
    height: 35px;
    background-color: #f6ede6
}