
.dots{
    height: 40px;
    transform: translateY(50%);
}

.footer {
    background-color: #06b4af;
    height:80px;
    display: flex;
    color:white ;
    justify-content: space-around
   
}
.foot{
    vertical-align: middle;
    transform: translateY(50%);
    
}

.phone {
    display: inline-block;
}

.phone1 {
    display: inline-block;
    
}