.content-container {
    background-image: url(../../assets/images/strips1.png);

    .dots {
        height: 125px;
        right: 27%;
        top: 95px;
    }
}

div.image-container {
    margin-top: 3em;
}